@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #F5F6F7;

  --vt-c-gray-soft: #CDD3DB;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-blue: #75A3E3;
  --vt-c-blue-soft: #B5CFFB;
  --vt-c-blue-mute: #D2E0F8;
  --vt-c-blue-middle: #5D738D;
  --vt-c-blue-dark: #355170;
  --vt-c-blue-darker: #1E3A54;



  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --box-shadow: 0px 2px 4px rgba(23, 43, 77, 0.15);
  --box-shadow-wider: 0px 8px 12px rgba(23, 43, 77, 0.16);
  --box-shadow-dark: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  --font-prompt: 'Prompt', sans-serif;
  --font-source-sans-pro: 'Source Sans Pro', sans-serif;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white-soft);
  --color-background-soft: var(--vt-c-blue-soft);
  --color-background-mute: var(--vt-c-white-mute);



  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  /* TAGS */
  --background-color-tag: var(--vt-c-white);
  --border-tag: 1px solid var(--vt-c-gray-soft);
  --box-shadow-tag: var(--box-shadow);
  --text-color-tag: var(--vt-c-blue-middle);

  --background-color-tag-hover: var(--vt-c-blue);
  --border-tag-hover: 1px solid var(--vt-c-blue);
  --box-shadow-tag-hover: var(--box-shadow-wider);
  --text-color-tag-hover: var(--vt-c-white);

  --background-color-tag-active: var(--vt-c-blue);
  --border-tag-active: 1px solid var(--vt-c-blue);
  --text-color-tag-active: var(--vt-c-white);
  /* /TAGS */


  /* INPUTS */
  --box-shadow-input: var(--box-shadow);
  --border-input-hover: 1px solid var(--vt-c-blue);
  /* /INPUTS */


  /* BUTTONS */
  --background-color-button: var(--vt-c-blue-dark);
  --background-color-button-hover: var(--vt-c-blue-darker);
  /* /BUTTONS */


  --color-heading: var(--vt-c-blue-dark);
  --color-text: var(--vt-c-blue-soft);



  --section-gap: 160px;



  --font-title: var(--font-prompt);
  --font-body: var(--font-source-sans-pro);
}
/*@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-mute);
  line-height: 1.6;
  font-family: var(--font-body);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: var(--font-title);
    font-size: 2rem;
    color: var(--color-heading);
    font-weight: 600;
}


.custom-label {
  color: var(--color-heading);
  font-size: 1.25rem;
}

.custom-input {
  box-shadow: var(--box-shadow-input);
  transition: border 0.2s ease-in-out;
}

.custom-input:hover {
  border: var(--border-input-hover);
}

.custom-radio {
  color: var(--color-heading);
}

.custom-input[type="file"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.custom-label-file {
  background-color: var(--background-color-tag-hover);
  box-shadow: var(--box-shadow);
  transition: box-shadow 0.2s ease-in-out;
}

.custom-label-file:hover {
  background-color: var(--background-color-tag-active);
  box-shadow: var(--box-shadow-wider);
  cursor: pointer;
}

.custom-btn {
  background-color: var(--background-color-button);
  box-shadow: var(--box-shadow);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.custom-btn:hover {
  background-color: var(--background-color-button-hover);
  box-shadow: var(--box-shadow-wider);
}

